
th{
    background-color: black;
    color: white;
    text-transform: capitalize;
    padding: 3px 50px;
}
td{
    text-align: center;
    text-transform: capitalize;
    border: solid 1px ;
    padding: 0px;
}
.cartbtn{
    background-color:green;
    color: white;
    font-weight: 600;
    width: 100%;
}
.card{
    display: flex;
    justify-content: center;
}
table{
    border: solid 1px;
    padding: 0px;
}
.removecart{
    background-color: red;
    color: white;
    font-weight: 600;
    width: 100%;
}
h2{
    text-align: center;
    text-transform: capitalize;
}
